<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot Armor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to Plot Armor, the open-source browser extension for spoiler blockage!</h1>
    <label for="show">Add any show or movie that you'd like to avoid spoilers for: </label>
    <input type="text" id="show" placeholder="Enter a title...">
    <button id="add-show">Add</button>

    <h3>Blocked Titles</h3>
    <ul id="show-list"></ul>

    <a href="options.html">Settings</a>

    <script src="popup.js"></script>
    
</body>
</html>